@import "./base.css";
@import "./components.css";
@import "./utilities.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kumbh Sans";
  src: url("/fonts/KumbhSans.ttf") format("truetype");
  font-weight: 1 1000;
}

:root {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --secondary-light: #ededed;
  --secondary: #808080;
}

* {
  margin: 0;
  box-sizing: content-box;
}
