@import "./base.css";
@import "./components.css";
@import "./utilities.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kumbh Sans";
  src: url("/fonts/KumbhSans.ttf") format("truetype");
  font-weight: 1 1000;
}

* {
  margin: 0;
  box-sizing: content-box;
}

:root {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;

  --secondary-light: #ededed;
}
