---
---

<footer class="p-4">
  <a href="https://takeme.blog/admin" target="_blank">
    <img
      alt="take me logo"
      src="https://storage.googleapis.com/takeme-public-assets/takeme/logo.png"
      class="object-contain w-24 sm:w-36 mx-auto mt-auto"
    />
  </a>
</footer>
