---
import { PageEntriesWithData } from "@common/types/client";
import LinkEntry from "./Entries/LinkEntry.astro";
import ReviewEntry from "./Entries/ReviewEntry.astro";

export interface Props {
  pageEntries: PageEntriesWithData[];
}

const { pageEntries } = Astro.props;
---

<script>
  const linkClickHandler = (context: any) => {
    window.AnalyticTracker?.logAnalytic("LinkClick", {
      linkId: context.dataset.linkId,
    });
  };

  Array.from(document.getElementsByClassName("takeme-link")).forEach(
    (element) =>
      element.addEventListener("click", function () {
        linkClickHandler(this);
      })
  );
</script>
<>
  {
    pageEntries.map((entry, i) => {
      if (entry.hidden) return;

      // Is a Title entry
      if (!!entry.title) {
        return <h2 class="mb-4 mt-6">{entry.title}</h2>;
      }

      if (entry.review) return <ReviewEntry review={entry.review} />;

      if (entry.link?.link && entry.link?.displayText)
        return <LinkEntry link={entry.link} />;
    })
  }
</>
