---
import MainEntries from "@components/MainEntries.astro";
import Profile from "@components/Profile.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { fetchUserObjectByUsername } from "@lib/gateway";

const { username } = Astro.params;

const user = await fetchUserObjectByUsername(username as string);

if (!user) return Astro.redirect("/404");

const bgColor = "#FFF";
---

<BaseLayout title={user.username}>
  <main class="flex justify-center">
    <!-- Content with a width cap -->
    <div class="w-full sm:max-w-xl p-5">
      <!-- User profile -->
      <Profile user={user} />

      <!-- If first item of the entry isn't a title, add a space since only title has margin top -->
      {!user.page.pageEntries[0]?.title && <br />}

      <MainEntries pageEntries={user.page.pageEntries} />
    </div>
  </main>
</BaseLayout>

<script>
  const allowedOrigin = import.meta.env.PROD
    ? "https://takeme.blog"
    : "http://localhost:5173";

  // If received
  window.addEventListener("message", (event) => {
    if (event.origin === allowedOrigin && event.data === "reload") {
      window.location.reload();
    }
  });
</script>

<style lang="less" define:vars={{ bgColor }}>
  main {
    background-color: var(--bgColor);
  }
</style>
