---
import "@styles/index.css";
import { Image } from "@astrojs/image/components";
import { fetchPageByUsername } from "@lib/gateway";

const { username } = Astro.params;

const page = await fetchPageByUsername(username as string);

if (!page) return Astro.redirect("/404");

const bgColor = "#FFF";
---

<main>
  <!-- Content with a width cap -->
  <div class="max-w-xl p-5">
    <!-- user profile -->
    <div>
      <Image
        src="https://storage.googleapis.com/takeme-public-assets/mugs.png"
        alt="default profile image"
        width={200}
        aspectRatio={1}
      />
    </div>
  </div>
</main>

<style lang="less" define:vars={{ bgColor }}>
  main {
    @apply w-screen h-screen flex justify-center;
    background-color: var(--bgColor);
  }
</style>
