---
import { Picture } from "@astrojs/image/components";

import Profile from "@components/Profile.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { fetchPageByUsername } from "@lib/gateway";

const { username } = Astro.params;

const page = await fetchPageByUsername(username as string);

if (!page) return Astro.redirect("/404");

const bgColor = "#FFF";
---

<BaseLayout title={page.userId}>
  <main>
    <!-- Content with a width cap -->
    <div class="w-full sm:max-w-xl p-5">
      <!-- user profile -->
      <Profile />
    </div>
  </main>
</BaseLayout>

<style lang="less" define:vars={{ bgColor }}>
  main {
    @apply w-screen h-screen flex justify-center;
    background-color: var(--bgColor);
  }
</style>
