---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<script>
  window.location.href = "https://takeme.blog/admin";
</script>
<BaseLayout title="Welcome to Astro.">
  <main></main>
</BaseLayout>
