---
/**
 * TrackedLayout - Layout to be used on all TakeMe Links
 * 1. SEO optimized
 * 2. Contains analytic script
 */

export interface Props {
  user: User;
}

import { User } from "@common/types";
import BaseLayout from "./BaseLayout.astro";

const prod = import.meta.env.PROD;

const { user } = Astro.props;
---

<BaseLayout>
  <div slot="head">
    <slot name="head" />
  </div>

  <!-- Main content -->
  <slot />

  <!-- Goes after main content/slot -->

  <script slot="append" type="module" define:vars={{ uid: user.id, prod }}>
    window.uid = uid;
    window.production = prod;

    const params = new URLSearchParams(window.location.search);
    const isPreview = !!params.get("preview");

    initializeTracker(window.uid, window.production, isPreview);
  </script>
</BaseLayout>
