@layer components {
  /* Quasar Override */
  #body .q-card {
    @apply rounded-lg shadow-lg;
  }

  .q-input.q-field--standout.q-field--highlighted {
    .q-field__native {
      color: #000;
    }

    .q-field__control {
      background: var(--secondary-light) !important;
      box-shadow: none;
    }
  }

  #body .takeme-button {
    @apply font-medium rounded-md;
    &.black {
      @apply text-white bg-black;
      text-transform: none;
    }
  }
}
