@import "./base.css";
@import "./components.css";
@import "./utilities.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kumbh Sans";
  src: url("/fonts/KumbhSans.ttf") format("truetype");
  font-weight: 1 1000;
}

:root {
  font-family: "Kumbh Sans", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", "sans-serif";
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --secondary: #808080;
  --secondary-light: #ededed;
}

* {
  font-family: "Kumbh Sans";
}

/* ProseMirror/Tiptal */
.ProseMirror {
  em {
    &,
    & * {
      font-family: sans-serif;
    }
  }

  blockquote {
    padding-left: 1rem;
    border-left: 3px solid var(--secondary-light);
    color: var(--secondary);
  }

  img {
    max-width: 100%;
    height: auto;
    display: inline-block;

    &.ProseMirror-selectednode {
      outline: 3px solid #68cef8;
    }

    &.resizable-image {
      &-medium {
        width: 50%;
      }
      &-small {
        width: 25%;
      }
      &-center {
        align-self: center;
      }
      &-start {
        align-self: start;
      }
      &-end {
        align-self: end;
      }
    }
  }
}

/* Quasar Override */
#body .q-card {
  @apply rounded-lg shadow-lg;
}

.q-textarea.q-field--standout.q-field--highlighted {
  border-radius: 40px;
  .q-field__native {
    color: #000;
  }

  .q-field__control {
    background: var(--secondary-light) !important;
    box-shadow: none;
  }
}

.q-input.q-field--standout.q-field--highlighted {
  .q-field__native {
    color: #000;
  }

  .q-field__control {
    background: var(--secondary-light) !important;
    box-shadow: none;
  }
}

#body .takeme-button {
  @apply font-medium rounded-md;
  text-transform: none;

  &.black {
    @apply text-white bg-black;
  }
}
